/* GLOBALS */
* {
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}
body {
  background-image: url('background.gif');
  background-attachment: fixed;
  background-color: black;
  padding: 0;
  margin: 0;
}

/* UTILITIES */
.edit {
  color: skyblue;
}
.delete {
  color: skyblue;
}

/* NAVBAR */
nav {
  margin: 0px;
  padding: 20px;
}
#hamilton-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 525px;
}
.header-text {
  font-size: 25px;
  text-align: center;
}
.nav-link-container {
  text-align: center;
  margin: 20px;
}
.nav-link {
  font-size: 20px;
}
nav a {
  color: skyblue;
}

/* CARD DISPLAY */
.small-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* SUB NAV & UTILITIES */
.sub-nav {
  text-align: center;
  margin-bottom: 20px;
}
.sub-nav span {
  font-size: 30px;
}
div.sub-nav {
  font-size: 20px;
}
div.sub-nav.not-found {
  font-size: 50px;
}
.sub-nav a {
  color: skyblue;
}
img.not-found {
  width: 100%;
}

/* SMALL CARD */
.small-card {
  background: dimgray;
  border: 2px white solid;
  margin: 20px;
}
.small-card-label {
  margin: 10px;
  text-align: center;
}
.small-card-label.campus {
  font-size: 22px;
}
.small-card-label.student {
  font-size: 20px;
}
.small-card-info {
  font-size: 16px;
  margin: 10px;
  text-align: center;
}
.small-card-image {
  display: block;
  margin: auto;
}
.small-card-image.campus {
  width: 275px;
}
.small-card-image.student {
  width: 150px;
}
.small-card-links-container.campus {
  position: absolute;
  transform: translate(2%, -130%);
  width: 265px;
  display: flex;
  justify-content: space-between;
}
.small-card-links-container.student {
  transform: translate(2%);
  width: 145px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.small-card-links-container span {
  font-size: 16px;
}

/* LARGE CARD */
.big-card {
  background: dimgray;
  border: 2px white solid;
  margin: 20px;
}
.big-card-container {
  display: flex;
  justify-content: space-evenly;
}
.big-card-image.campus {
  height: 200px;
}
.big-card-image.student {
  height: 200px;
}
.big-card-text-container {
}
.big-card-label {
  font-size: 32px;
  margin: 10px;
  text-align: center;
}
.big-card-description {
  font-size: 16px;
  margin: 20px;
  text-align: center;
}
.big-card-address {
  font-size: 14px;
  margin: 10px;
  text-align: center;
}
.big-card-links-container {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}
.big-card-links-container span {
  font-size: 16px;
}

/* FORMS */
.form-block {
  text-align: center;
  margin: 10px;
}
form label {
  font-size: 22px;
  display: block;
  margin: auto;
}
form input {
  color: black;
  font-size: 22px;
  display: block;
  margin: auto;
}
form textarea {
  color: black;
  font-size: 16px;
  display: block;
  width: 300px;
  height: 200px;
  margin: auto;
}
form button {
  color: black;
  font-size: 22px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
