/* GLOBALS */
* {
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}
body {
  background-image: url('background.gif');
  background-attachment: fixed;
  background-color: black;
  padding: 0;
  margin: 0;
}

/* UTILITIES */
.edit {
  color: skyblue;
}
.delete {
  color: skyblue;
}

/* NAVBAR */
nav {
  margin: 0px;
  padding: 20px;
}
#hamilton-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 525px;
}
.header-text {
  font-size: 25px;
  text-align: center;
}
.nav-link-container {
  text-align: center;
  margin: 20px;
}
.nav-link {
  font-size: 20px;
}
nav a {
  color: skyblue;
}

/* CAMPUS CARD */
.campus-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.campus-card {
  background: dimgray;
  border: 2px white solid;
  margin: 20px;
}
.campus-card-label {
  font-size: 22px;
  margin: 10px;
  text-align: center;
}
.campus-card-image {
  display: block;
  margin: auto;
  width: 275px;
}
.campus-card-links-container {
  position: absolute;
  transform: translate(2%, -130%);
  width: 265px;
  display: flex;
  justify-content: space-between;
}
.campus-card-links-container a {
  font-size: 16px;
}
